[Unit]
Description=pigeon-template bootstrap
After=pigeon-enroll.service network-online.target
Wants=network-online.target
ConditionPathExists=/etc/pigeon/identity/cert.pem
ConditionPathExists=!/var/lib/pigeon/enroll.json

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/pigeon/enroll.env
Environment=ENROLL_CACERT=/etc/pigeon/identity/ca.pem
Environment=ENROLL_IDENTITY_DIR=/etc/pigeon/identity
ExecStartPre=/opt/pigeon/bin/pigeon-enroll read template/enroll-worker -o /var/lib/pigeon/enroll.json
ExecStart=/opt/pigeon/bin/pigeon-template --once --config=/etc/pigeon/bootstrap.hcl
ExecStartPost=/usr/bin/systemctl start pigeon-fence vault-agent
NoNewPrivileges=yes
ProtectSystem=full
ReadWritePaths=/etc/pigeon/ /etc/vault.d/ /etc/consul.d/ /etc/nomad.d/ /etc/resolv.conf /etc/unbound/ /var/lib/pigeon
ProtectHome=yes
PrivateTmp=yes
PrivateDevices=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
LimitCORE=0

[Install]
WantedBy=multi-user.target
