[Unit]
Description=Vault Agent
Documentation=https://developer.hashicorp.com/vault/docs/agent-and-proxy
Wants=network-online.target
After=vault.service consul.service nomad.service pigeon-enroll-actions.service
ConditionFileNotEmpty=/encrypted/tls/vault-agent.crt
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
Type=simple
User=vault
Group=vault
ProtectSystem=full
ProtectHome=read-only
PrivateTmp=yes
PrivateDevices=yes
ExecStart=/usr/bin/vault agent -config=/etc/vault.d/vault-agent.hcl
KillMode=process
KillSignal=SIGINT
TimeoutStopSec=30
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
