[Unit]
Description=Vault
Documentation=https://developer.hashicorp.com/vault
Wants=network-online.target pigeon-mesh.service
After=network-online.target pigeon-mesh.service
ConditionFileNotEmpty=/etc/vault.d/vault.hcl
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
Type=notify
User=vault
Group=vault
ProtectSystem=full
ProtectHome=read-only
PrivateTmp=yes
PrivateDevices=yes
SecureBits=keep-caps
AmbientCapabilities=CAP_IPC_LOCK
CapabilityBoundingSet=CAP_SYSLOG CAP_IPC_LOCK
NoNewPrivileges=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ExecStart=/usr/bin/vault server -config=/etc/vault.d
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
KillSignal=SIGINT
TimeoutStopSec=30
LimitNOFILE=65536
LimitMEMLOCK=infinity
LimitCORE=0
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
